:root{
    /* --- Colors --- */
    --blue: #07407b; /* 60% */
    --orange: #f7931e; /* 30% */
    --white: #fafafa; /* 10% */

    /* --- Fonts --- */
    --roboto: "Roboto";
    --playfair: "Playfair";
}

body{
    background-color: var(--blue);
    color: var(--orange);
    margin: 0;
    padding: 0;
    font-family: var(--playfair);
}

.navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: var(--roboto);
    font-weight: 600;
    font-size: 18px;
    background-color: var(--white);
    margin: 0;
    padding: 35px;
}

.nav-item{
    list-style-type: none;
}

.nav-item a{
    color: var(--blue);
    text-decoration: none;
}

.nav-item a:hover{
    text-decoration: underline;
}


h1,h2,h3{
    color: var(--white);
    font-family: var(--roboto);
}

li::marker{
    color: var(--white);
}

.link{
    color: var(--orange);
}